/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --color-000: transparent;
    --color-100: #FFFFFF !important;
    --color-200: #c0e4f7 !important;
    --color-300: #7CB5D2 !important;
    --color-400: #0097CC !important;
    --color-500: #0D7FA9 !important;
    --color-600: #0B7197 !important;
    --color-700: #136B8C !important;
    --color-800: #135E8E !important;
    --color-900: #11547E !important;
    --color-1000: #044C75 !important;
    --color-red: #FF6869 !important;
    --color-green: #86CEB4 !important;
  }
  